Repository jcfranco/timezone-grouping: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{cts,mts,ts}": ["xo --fix --prettier --space"],
  "*.{html,json}": ["prettier --write"],
  "*.md": [
    "markdownlint --fix --disable MD024 MD013 MD041 MD033",
    "prettier --write"
  ]
}

refactor: drop lodash in favor of built-in APIs
  package-lock.json
  package.json
  rollup.config.ts
  src/auto_group.mts
  src/utils.mts
Due: xo --fix --prettier --space, prettier --write

chore: clean up
  src/auto_group.mts
Due: xo --fix --prettier --space

feat: add support to swap date libs
  package-lock.json
  package.json
  rollup.config.ts
  src/adapters/date-fns.mts
  src/adapters/dayjs.mts
  src/adapters/index.mts
  src/adapters/luxon.mts
  src/adapters/moment.mts
  src/adapters/native.mts
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
  src/utils.mts
  test/index.html
Due: xo --fix --prettier --space, prettier --write

perf: cache processed date-timezones
  src/utils.mts
Due: xo --fix --prettier --space

build: fix output targets
  rollup.config.ts
  test/index.html
  tsconfig.json
Due: xo --fix --prettier --space, prettier --write

refactor: use flat list of time zones vs partial objects
  src/auto_group.mts
  src/config/database.mts
  src/interfaces.d.ts
  src/utils.mts
Due: xo --fix --prettier --space

feat: change default interval to boost performance and minimal group change
  src/config/index.mts
Due: xo --fix --prettier --space

chore: tidy up test page
  test/index.html
Due: prettier --write

feat: add debug mode to check generated timezones
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
Due: xo --fix --prettier --space

feat: use current date as start date when creating groups
  src/config/index.mts
Due: xo --fix --prettier --space

refactor: tweak naming
  src/auto_group.mts
  src/interfaces.d.ts
  src/strategy/date-fns.mts
  src/strategy/dayjs.mts
  src/strategy/index.mts
  src/strategy/luxon.mts
  src/strategy/moment.mts
  src/strategy/native.mts
  src/utils.mts
Due: xo --fix --prettier --space

build: clean dist before building
  package-lock.json
  package.json
Due: prettier --write

refactor: use slice vs substr (deprecated)
  src/utils.mts
Due: xo --fix --prettier --space

refactor: tweak CLI types
  src/cli.cts
Due: xo --fix --prettier --space

style: tidy up
  src/cli.cts
Due: xo --fix --prettier --space

build: suppress luxon circular dependency warning
  rollup.config.ts
Due: xo --fix --prettier --space

perf: improve mapped db computation'
  src/utils.mts
Due: xo --fix --prettier --space

feat: allow passing custom DateEngine
  src/auto_group.mts
  src/interfaces.d.ts
  test/index.html
Due: xo --fix --prettier --space, prettier --write

feat: add hooks to customize output'
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/config/supportedTimeZones.mts
  src/interfaces.d.ts
  src/utils.mts
Due: xo --fix --prettier --space

build: bump TS target to drop embedded tslib helpers
  tsconfig-base.json
Due: prettier --write

build: drop unused dep
  package-lock.json
  package.json
Due: prettier --write

refactor: move date engine loader outside of main modules
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
  src/strategy/index.mts
Due: xo --fix --prettier --space

refactor: reuse existing moment instance vs cloning and modifying during interval calculation
  src/utils.mts
Due: xo --fix --prettier --space

build: focus on MJS output targets for the initial release
  rollup.config.ts
Due: xo --fix --prettier --space

build: tweak output targets
  rollup.config.ts
Due: xo --fix --prettier --space

fix: fix native adapter
  src/adapters/native.mts
Due: xo --fix --prettier --space

refactor: use Intl to generate time zone list
  src/config/database.mts
Due: xo --fix --prettier --space

refactor: tidy up native adapter
  src/adapters/native.mts
Due: xo --fix --prettier --space

feat: add support for CLI options
  package-lock.json
  package.json
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
Due: xo --fix --prettier --space, prettier --write

fix: fix output filename generation
  src/cli.cts
  src/interfaces.d.ts
  src/strategy/date-fns.mts
  src/strategy/dayjs.mts
  src/strategy/luxon.mts
  src/strategy/moment.mts
  src/strategy/native.mts
Due: xo --fix --prettier --space

feat: generate labels that are equally distributed
  src/utils.mts
Due: xo --fix --prettier --space

feat: transform label into an array of time zone labels by index
  src/auto_group.mts
  src/utils.mts
Due: xo --fix --prettier --space

feat: simplify group interface
  src/auto_group.mts
  src/interfaces.d.ts
Due: xo --fix --prettier --space

build: pin dependencies
  package.json
Due: prettier --write

build: recreate lock file
  package-lock.json
Due: prettier --write

build: add release-it
  package-lock.json
  package.json
Due: prettier --write

docs: update README
  README.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

Release 0.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: update author/contributors
  package.json
Due: prettier --write
