Repository jcfranco/timezone-grouping: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix: ensure label groups are generated equally
  src/utils.mts
Due: xo --fix --prettier --space

chore: fix package name and description
  package.json
Due: prettier --write

fix: fix package.json bin entry
  README.md
  package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: clean up package contents
  package.json
Due: prettier --write

feat: generate types
  tsconfig-base.json
Due: prettier --write

feat: make specifying engine optional for both Node and browser contexts
  README.md
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
Due: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs: add changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: configure release-it to update changelog
  package-lock.json
  package.json
  release-it.json
Due: prettier --write

chore: add .npmrc
  .npmrc
Due: none

fix: fix package entry points
  package-lock.json
  package.json
Due: prettier --write

Release 0.2.0
  package-lock.json
  package.json
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix: hide debug message under flag
  src/auto_group.mts
  src/utils.mts
Due: xo --fix --prettier --space

fix!: revert providing date engine as string to improve tree-shaking
  README.md
  src/auto_group.mts
  src/cli.cts
  src/config/index.mts
  src/interfaces.d.ts
Due: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

Release 0.3.0
  package-lock.json
  package.json
Due: prettier --write

fix!: use .ts as the default file extension to align with package
  README.md
  package-lock.json
  package.json
  rollup.config.ts
  src/auto-group.ts
  src/auto_group.mts
  src/cli.cts
  src/config/cities.ts
  src/config/index.mts
  src/config/index.ts
  src/config/supported-time-zones.ts
  src/config/supportedTimeZones.mts
  src/index.mts
  src/index.ts
  src/strategy/date-fns.mts
  src/strategy/date-fns.ts
  src/strategy/dayjs.ts
  src/strategy/index.mts
  src/strategy/index.ts
  src/strategy/luxon.mts
  src/strategy/luxon.ts
  src/strategy/moment.ts
  src/strategy/native.mts
  src/strategy/native.ts
  src/types/interfaces.d.ts
  src/utils.mts
  src/utils.ts
  tsconfig-base.json
  tsconfig.json
Due: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

Release 0.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: fix type typo
  src/types/interfaces.d.ts
Due: xo --fix --prettier --space

Release 0.5.0
  package-lock.json
  package.json
Due: prettier --write

chore: add repository field
  package.json
Due: prettier --write

fix: improve browser compat by targeting ES2020
  tsconfig-base.json
Due: prettier --write

feat: improve browser compatibility by lowering target to ES2020
  tsconfig-base.json
Due: prettier --write

fix: fix type for custom grouping hooks
  src/types/interfaces.d.ts
Due: xo --fix --prettier --space

Release 0.6.0
  package-lock.json
  package.json
Due: prettier --write

chore: tidy up
  src/utils.ts
Due: xo --fix --prettier --space

fix(native): fix issue in isoToTimeZone logic that would cause incorrect grouping for a few time zones
  src/strategy/native.ts
Due: xo --fix --prettier --space

refactor(native): simplify date creation from ISO date string
  src/strategy/native.ts
Due: xo --fix --prettier --space

chore: ignore *iml files
  .gitignore
Due: none

Release 0.7.0
  package-lock.json
  package.json
Due: prettier --write

build: update release-it settings
  release-it.json
Due: prettier --write

feat: include Etc/x time zones for consistent grouping across browsers
  src/auto-group.ts
  src/config/supported-time-zones.ts
  src/utils.ts
Due: xo --fix --prettier --space

Release 0.8.0
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump deps
  .husky/pre-commit
  package-lock.json
  package.json
  rollup.config.ts
  src/strategy/date-fns.ts
  tsconfig-cli.json
Due: xo --fix --prettier --space, prettier --write

chore: use dayjs ESM imports
  src/strategy/dayjs.ts
Due: xo --fix --prettier --space

chore: type cli params
  src/cli.cts
  src/strategy/date-fns.ts
Due: xo --fix --prettier --space

chore: drop unused cities module
  src/config/cities.ts
  src/config/index.ts
Due: xo --fix --prettier --space

chore(package.json): add license field
  package-lock.json
  package.json
Due: prettier --write

refactor!: drop cli support
  README.md
  package-lock.json
  package.json
  rollup.config.ts
  src/cli.cts
  tsconfig-base.json
  tsconfig-cli.json
  tsconfig.json
Due: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

feat: add new region group-by option for the JS API
  .xo-config.json
  rollup.config.ts
  src/auto-group.ts
  src/config/index.ts
  src/strategy/dayjs.ts
  src/types/interfaces.d.ts
Due: xo --fix --prettier --space, prettier --write

refactor!: add separate fns for each group type
  README.md
  package.json
  rollup.config.ts
  src/auto-group.ts
  src/groupByName/index.mts
  src/groupByOffset/defaults.mts
  src/groupByOffset/index.mts
  src/groupByOffset/strategy/date-fns.mts
  src/groupByOffset/strategy/dayjs.mts
  src/groupByOffset/strategy/index.mts
  src/groupByOffset/strategy/luxon.mts
  src/groupByOffset/strategy/moment.mts
  src/groupByOffset/strategy/native.mts
  src/groupByOffset/utils.mts
  src/groupByRegion/index.mts
  src/groupByRegion/utils.mts
  src/index.ts
  src/types/interfaces.d.ts
  src/types/interfaces.mts
  src/utils/continent.mts
  src/utils/country.mts
  src/utils/time-zones.mts
  test/index.html
  tsconfig-base.json
  tsconfig.json
Due: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

Path conditions:
  xo --fix --prettier --space: any of: *.{cts,mts,ts}
  prettier --write: (any of: *.{html,json}) or (any of: *.md)
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
