Repository jcfranco/timezone-grouping: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix --prettier --space, prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

Release 0.9.0
  package-lock.json
  package.json
Due: prettier --write

feat: lower Node LTS version to improve compatibility
  package-lock.json
  package.json
Due: prettier --write

Release 0.9.1
  package-lock.json
  package.json
Due: prettier --write

build: update exports to include groupByOffset strategy modules
  package.json
Due: prettier --write

feat: ensure canonical time zones across browsers
  package-lock.json
  package.json
  src/groupByOffset/strategy/moment.mts
  src/utils/time-zones.mts
Due: xo --fix --prettier --space, prettier --write

build: add minified output
  rollup.config.ts
Due: xo --fix --prettier --space

refactor!: use `countries-and-timezones` to get country code
  package.json
  rollup.config.ts
  src/types/interfaces.mts
  src/utils/country.mts
  src/utils/region.mts
Due: xo --fix --prettier --space, prettier --write

chore: update test page
  test/index.html
Due: prettier --write

feat(groupByRegion)!: include global time zones
  package.json
  rollup.config.ts
  src/groupByOffset/utils.mts
  src/groupByRegion/index.mts
  src/groupByRegion/utils.mts
  src/utils/continent.mts
  src/utils/region.mts
Due: xo --fix --prettier --space, prettier --write

chore: set up dependabot
  .github/dependabot.yml
Due: none

chore: update package description
  package.json
Due: prettier --write

Release 0.10.0
  package-lock.json
  package.json
Due: prettier --write

fix: handle pending deprecated time zones in `countries-and-timezones`
  src/utils/time-zones.mts
Due: xo --fix --prettier --space

Release 0.10.1
  package-lock.json
  package.json
Due: prettier --write

Release 0.10.2
  package-lock.json
  package.json
Due: prettier --write

fix: add workaround for https://issues.chromium.org/issues/381620359
  src/groupByOffset/strategy/native.mts
Due: xo --fix --prettier --space

Release 0.10.3
  package-lock.json
  package.json
Due: prettier --write

docs: update README
  README.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(dayjs): add workaround for https://issues.chromium.org/issues/381620359
  src/groupByOffset/strategy/dayjs.mts
Due: xo --fix --prettier --space

Release 0.10.4
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  xo --fix --prettier --space: any of: *.{cts,mts,ts}
  prettier --write: (any of: *.{html,json}) or (any of: *.md)
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
